/* Стили для error message */
.ant-message-custom-error .ant-message-notice-content {
  background-color: #FFCCC7 !important;
  width: 327px !important;
  border-radius: 8px !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.ant-message-custom-error .ant-message-notice-content .ant-message-custom-content {
  background-color: #FFCCC7 !important;
  color: #EC221F !important;
}

/* Для всех error message (если нужно глобально) */
.ant-message-error .ant-message-notice-content {
  background-color: #FFCCC7 !important;
  width: 327px !important;
  border-radius: 8px !important;
}

.ant-message-error .ant-message-notice-content .ant-message-custom-content {
  background-color: #FFCCC7 !important;
  color: #EC221F !important;
}